.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #8a2020;

  background-color: #656565;
}

.main-header {
  margin-top: 10px;
  padding: 30px 0 10px;
  background: #fffcfb;
  background-image: url("../image/bg-main.jpg");
}

.name-company {
  width: 1200px;
  text-transform: uppercase;
  font-size: 1.125em;
  font-style: italic;
  letter-spacing: 1.5px;
  line-height: 1.2;
  text-align: center;
  position: absolute;
  top: 20px;
  z-index: 20;
}

.header-middle {
  display: flex;
  justify-content: space-between;
}

.logotype {
  width: 240px;
  z-index: 10;
}

.top-image {
  flex-grow: 1;
  background: url("../image/top-img.jpg") no-repeat;
}

.time-work p{
  padding-top: 30px;
  font-size: 1.2em;
  font-style: italic;
  text-align: center;
  width: 190px;
}

.time-work p::after {
  content: "";
  display: block;
  width: 100%;
  height: 30px;
  margin-top: 25px;
  background: url("../image/img-tundra.png") center no-repeat;
}

.header-ornament {
  width: 100%;
  height: 70px;
  background: url("../image/ornament.jpg") repeat-x;
}

.main-container {
  display: flex;
  background: #fffcfb;
  background-image: url("../image/bg-main.jpg");
}

.main-navigation {
  width: 100%;
  margin-bottom: 20px;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 40px;
}

.main-navigation ul {
  list-style: none;
}

.main-menu>li {
  position: relative;
  width: 210px;
  height: 50px;
  border-radius: 10px;
  background: #c6b9b0;
}

.main-menu>li:hover {
  background: #80736a;
}

.main-menu li ul {
  position: absolute;
  padding: 0;
  display: none;
  z-index: 10;
  border-radius: 10px;
  background: #c6b9b0;
}

.main-menu li:hover ul {
  display: block;
  width: 210px;
}

.main-menu li ul li:hover {
  background: #80736a;
}

.main-menu li ul li a {
  padding: 10px 0;
}

.main-menu li ul li:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.main-menu li ul li:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.main-menu a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  text-decoration: none;
  color: #8a2020;
}




/*.column-left {
  width: 210px;
}



.main-navigation ul{
  list-style: none;
}

.main-navigation ul li:hover{
  background: #80736a;
}
.main-navigation ul li:hover ul{
  display: block;
}

.main-navigation ul li:hover ul li ul{
  display: none;
}

.main-navigation ul li ul li:hover ul{
  display: block;
}

.main-navigation ul li ul{
  position: absolute;
  left: 180px;
  top: 0;
  display: none;
}

.main-menu{
  display: flex;
  margin: 0;
  padding: 0;
}

.main-menu li{
  position: relative;
  box-sizing: border-box;
  width: 210px;
  min-height: 60px;
  margin-bottom: 5px;
  padding: 20px 35px 20px 10px;
  text-align: right;
  background: #c6b9b0;
  border-radius: 10px;
  z-index: 10;
}

.main-menu li a{
  text-transform: uppercase;
  text-decoration: none;
  color: #8a2020;
}

.column-right{
  margin-left: 30px;
}

.top-slider{
  overflow: hidden;
  width: 930px;
  position: relative;
  height: 450px;
}

.slide-list{
  position: relative;
  display: flex;
  !*width: 930px;*!
  height: 400px;
  padding: 0;
  list-style: none;
}

@keyframes sliders {
  0% {
    left: 0;
    animation-delay: 5s;
  }
  5% {
    left: -930px;
  }
  33.33%{
    left: -930px;
  }
  38.33% {
  left: -1860px;
  }
  61.66%{
    left: -1860px;
  }
  65.66% {
    left: 0;
  }
}

.slider-item{
  position: relative;
!*  animation: sliders 20s infinite ease-in-out;*!
}


.slider-control {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 420px;
  left: 425px;
  width: 80px;
  height: 12px;
  z-index: 2;
}

.slider-control label::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("../image/slider-button-empty.svg");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: 0 0;
}

.top-slider input[value="slider-1"]:checked ~ .slider-control .label-slider-1::before,
.top-slider input[value="slider-2"]:checked ~ .slider-control .label-slider-2::before,
.top-slider input[value="slider-3"]:checked ~ .slider-control .label-slider-3::before {
  content: "";
  background-image: url("../image/slider-button.svg");
  background-size: 12px 12px;
}

.top-slider input[value="slider-1"]:checked ~ .slide-list .slider-item{
   left: 0;
   transition: 0.5s;
}

.top-slider input[value="slider-2"]:checked ~ .slide-list .slider-item{
   left: -930px;
   transition: 0.5s;
}

.top-slider input[value="slider-3"]:checked ~ .slide-list .slider-item{
  left: -1860px;
  transition: 0.5s;
}*/

footer {
  position: relative;
  height: 555px;
  background: #c6b9b0 url("../image/bg-map.png") no-repeat;
}

.content{
  position: absolute;
  padding: 20px;
  left: 50px;
  top: 90px;
  width: 600px;
  height: 250px;
  background: #fffcfb;
}

.content p{
  margin: 0;
  padding: 0;
  font-size: 2em;
  font-style: italic;
  text-align: center;
  line-height: 1.4;
/*  font-size: 18px;
    -moz-transform: matrix( 1.18847816420656,0,0,2.26072456109447,0,0);
   -webkit-transform: matrix( 1.18847816420656,0,0,2.26072456109447,0,0);
   -ms-transform: matrix( 1.18847816420656,0,0,2.26072456109447,0,)*/
/*  position: absolute;
    left: 121.65px;
    top: 1574.041px;
    z-index: 9;*/
}
